.cts-results {
    float: right;
    font-size: 0.6em;
    border: 1px dashed #7FC06B;
    background: #cbf0c0;
    padding: 1px;
    line-height: 1em;
}

.cts-lightbox {
    position: fixed;
    top: 2em;
    bottom: 2em;
    left: 2em;
    right: 2em;
    z-index: 100;
    background: white url(http://robolectric.org//images/robolectric-stacked.png) no-repeat fixed padding-box 95% 8%;
    padding: 1em;
    border: 3px solid #7FC06B;
    overflow: scroll;
}

.cts-lightbox li {
    font-family: Monaco, "Lucida Console", monospace;
    margin: 0;
}

div.robolectric-shadow-api, div.robolectric-method-extra, div.robolectric-class-extra {
    position: relative;
}

div.robolectric-shadow-api img.robolectric-logo,
div.robolectric-class-extra img.robolectric-logo,
div.robolectric-method-extra img.robolectric-logo {
    position: absolute;
    left: -44px;
}

span.robolectric-shadow-of {
    font-size: 0.8em;
    font-style: italic;
    font-stretch: condensed;
}