.cts-results {
    float: right;
    font-size: 0.6em;
    border: 1px dashed #7fc06b;
    background: #cbf0c0;
    padding: 1px;
    line-height: 1em;
}

.cts-lightbox-bg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background: black;
    opacity: .6;
}

.cts-lightbox {
    position: fixed;
    top: 2em;
    bottom: 2em;
    left: 2em;
    right: 2em;
    z-index: 100;
    background: white url(http://robolectric.org//images/robolectric-stacked.png) no-repeat fixed padding-box 95% 8%;
    padding: 1em;
    border: 3px solid #7fc06b;
    overflow: scroll;
}

.cts-lightbox li {
    font-family: Monaco, "Lucida Console", monospace;
    margin: 0;
}

div.robolectric-doc {
    position: relative;
    border-left: 3px double #7fc06b;
    padding-left: .4em;
    margin-left: -.4em;
}

div.robolectric-doc img.robolectric-logo {
    position: absolute;
    left: -36px;
}

span.robolectric-shadow-of {
    font-size: 0.8em;
    font-style: italic;
    font-stretch: condensed;
}